Repository trailofbits/vscode-weaudit: changes, and which pre-commit hooks are due for each by the changed paths.
All: biome-format, eslint, typecheck

.pre-commit-config.yaml:

repos:
    - repo: https://github.com/pre-commit/pre-commit-hooks
      rev: v6.0.0
      hooks:
          - id: trailing-whitespace
          - id: end-of-file-fixer
            exclude: '\.svg$'
          - id: check-yaml
          - id: check-added-large-files
            args: ["--maxkb=500"]

    - repo: local
      hooks:
          - id: biome-format
            name: biome format
            entry: npx biome check --formatter-enabled=true --linter-enabled=false --write
            language: system
            types_or: [javascript, ts, json]
            exclude: "node_modules|out"

          - id: eslint
            name: eslint
            entry: npx eslint --ext ts -c .eslintrc.cjs
            language: system
            types: [ts]
            exclude: '^test/'

          - id: typecheck
            name: typecheck
            entry: npx tsc --noEmit
            language: system
            types: [ts]
            pass_filenames: false

chore: add launch.json and tasks.json to repo
  .gitignore
  .vscode/launch.json
  .vscode/tasks.json
  biome.json
Due: biome-format

feat: Add region boundary editing feature (#124)
  .gitignore
  .vscode-test.mjs
  .vscode/launch.json
  .vscode/tasks.json
  README.md
  TESTING.md
  biome.json
  package.json
  src/codeMarker.ts
  src/findingBoundaryCodeLens.ts
  test/extension/suite/activation.test.ts
  test/extension/suite/boundaryEditing.test.ts
Due: biome-format, eslint, typecheck

delay shutdown if dirty changes present
  README.md
  src/extension.ts
  src/sync/gitAutoSync.ts
  src/sync/shutdownFlush.ts
  src/test/shutdownFlush.test.ts
Due: biome-format, eslint, typecheck

fix(codeMarker): harden git metadata path handling
  src/codeMarker.ts
Due: biome-format, eslint, typecheck

fix(tests): stabilize unit and extension test execution
  .vscode-test.mjs
  test/unit/validators.test.ts
  test/webview/messageHandlers.test.ts
Due: biome-format, typecheck

fix: address workflow check failures
  .github/workflows/lint_and_format.yml
  README.md
  src/codeMarker.ts
  src/webview/syncConfigMain.ts
  test/ui/suite/commands.ui.test.ts
Due: biome-format, eslint, typecheck

docs: add JSDoc documentation to undocumented declarations
  src/codeMarker.ts
  src/decorationManager.ts
  src/extension.ts
  src/externalTypes.ts
  src/multiConfigs.ts
  src/panels/findingDetailsPanel.ts
  src/panels/gitConfigPanel.ts
  src/panels/syncConfigPanel.ts
  src/resolvedFindings.ts
  src/types.ts
  src/webview/findingDetailsMain.ts
  src/webview/gitConfigMain.ts
  src/webview/webviewMessageTypes.ts
Due: biome-format, eslint, typecheck

docs: add JSDoc comments to undocumented declarations across 12 files
  src/codeMarker.ts
  src/decorationManager.ts
  src/extension.ts
  src/externalTypes.ts
  src/multiConfigs.ts
  src/panels/findingDetailsPanel.ts
  src/panels/gitConfigPanel.ts
  src/panels/syncConfigPanel.ts
  src/resolvedFindings.ts
  src/sync/gitAutoSync.ts
  src/types.ts
  src/webview/webviewMessageTypes.ts
Due: biome-format, eslint, typecheck

fix(sync): trigger sync on saved findings and stabilize partial-audit UI test
  src/codeMarker.ts
  src/sync/gitAutoSync.ts
  test/ui/suite/commands.ui.test.ts
Due: biome-format, eslint, typecheck

fix(git): support .git-suffixed worktree metadata paths
  README.md
  src/codeMarker.ts
Due: biome-format, eslint, typecheck

feat: add documentation generation with LLM and overlay in editor for quick reference
  package.json
  src/docOverlay/agentRunner.ts
  src/docOverlay/decorations.ts
  src/docOverlay/docOverlayManager.ts
  src/docOverlay/docOverlayPanel.ts
  src/docOverlay/docStore.ts
  src/docOverlay/hoverProvider.ts
  src/docOverlay/types.ts
  src/extension.ts
  test/unit/docOverlay.test.ts
Due: biome-format, eslint, typecheck

commit package-lock.json
  package-lock.json
Due: biome-format

fix environment varialbe reading issues
  package-lock.json
  package.json
  src/docOverlay/agentRunner.ts
Due: biome-format, eslint, typecheck

fix unit test cases
  test/unit/docOverlay.test.ts
Due: biome-format, typecheck

feat: add Code Quality finding type with comment-on-issue workflow
  esbuild.js
  package.json
  src/codeMarker.ts
  src/panels/findingDetails.html
  src/panels/gitConfig.html
  src/panels/gitConfigPanel.ts
  src/types.ts
  src/webview/findingDetailsMain.ts
  src/webview/gitConfigMain.ts
  src/webview/webviewMessageTypes.ts
  test/extension/suite/activation.test.ts
  test/fixtures/code-quality.weaudit
  test/unit/types.test.ts
  test/unit/validators.test.ts
  test/webview/messageHandlers.test.ts
Due: biome-format, eslint, typecheck

style: fix biome formatting in codeMarker and messageHandlers test
  src/codeMarker.ts
  test/webview/messageHandlers.test.ts
Due: biome-format, eslint, typecheck

fix: address Code Quality PR review feedback
  src/codeMarker.ts
  src/panels/findingDetails.html
  src/types.ts
  src/webview/findingDetailsMain.ts
  test/fixtures/code-quality.weaudit
  test/unit/types.test.ts
  test/unit/validators.test.ts
Due: biome-format, eslint, typecheck

Fix: show the file level docs only on the first line of the file instead of every line of the file
  src/docOverlay/hoverProvider.ts
  test/unit/docOverlay.test.ts
Due: biome-format, eslint, typecheck

fix: improve Code Quality UX — reorder dropdown and clarify settings prompt
  src/codeMarker.ts
  src/panels/findingDetails.html
Due: biome-format, eslint, typecheck

fix: prevent double prompt in Code Quality issue setup and add GitLab support
  src/codeMarker.ts
Due: biome-format, eslint, typecheck

chore: Update dependencies and node version
  .github/workflows/test.yml
  .nvmrc
  package-lock.json
  package.json
Due: biome-format

chore: Update dependencies and node version (#181)
  .github/workflows/test.yml
  .nvmrc
  package-lock.json
  package.json
Due: biome-format

chore(deps): update many dependencies
  .github/dependabot.yml
  .github/workflows/lint_and_format.yml
  .github/workflows/publish.yml
  .github/workflows/test.yml
  .gitignore
  package-lock.json
  package.json
  src/codeMarker.ts
  src/multiConfigs.ts
  src/panels/gitConfigPanel.ts
  test/extension/tsconfig.json
  test/ui/suite/commands.ui.test.ts
Due: biome-format, eslint, typecheck

chore: format fix
  src/codeMarker.ts
Due: biome-format, eslint, typecheck

chore(deps): update many dependencies and new lint warnings/errors (#182)
  .github/dependabot.yml
  .github/workflows/lint_and_format.yml
  .github/workflows/publish.yml
  .github/workflows/test.yml
  .gitignore
  package-lock.json
  package.json
  src/codeMarker.ts
  src/multiConfigs.ts
  src/panels/gitConfigPanel.ts
  test/extension/tsconfig.json
  test/ui/suite/commands.ui.test.ts
Due: biome-format, eslint, typecheck

ci: trigger the release on a tag push and gate publishing
  .github/workflows/publish.yml
  README.md
  docs/releasing.md
Due: none

ci: trigger the release on a tag push and gate publishing (#185)
  .github/workflows/publish.yml
  README.md
  docs/releasing.md
Due: none

fix: encode repository permalinks across platforms (#190)
  README.md
  src/codeMarker.ts
  src/permalink.ts
  test/unit/permalink.test.ts
Due: biome-format, eslint, typecheck

docs: revert permalink README addition
  README.md
Due: none

refactor: move permalink generation into utilities
  src/codeMarker.ts
  src/utilities/generatePermalink.ts
  test/unit/permalink.test.ts
Due: biome-format, eslint, typecheck

fix: encode repository permalinks across platforms (#191)
  src/codeMarker.ts
  src/utilities/generatePermalink.ts
  test/unit/permalink.test.ts
Due: biome-format, eslint, typecheck

chore: update agents.md, remove claude.md
  AGENTS.md
  CLAUDE.md
Due: none

fix(day-log): count reviewed regions in daily totals
  .vscode-test.mjs
  README.md
  src/codeMarker.ts
  src/utilities/dayLog.ts
  test/extension/suite/dailyLog.test.ts
  test/unit/dayLog.test.ts
Due: biome-format, eslint, typecheck

test(day-log): retry transient Windows cleanup failures
  test/extension/suite/dailyLog.test.ts
Due: biome-format, typecheck

test(day-log): normalize Windows workspace root paths
  test/extension/suite/dailyLog.test.ts
Due: biome-format, typecheck

test: expand audit state tests and correct coverage reporting
  .github/workflows/test.yml
  .nycrc.json
  .vscode-test.mjs
  README.md
  package.json
  src/codeMarker.ts
  src/types.ts
  test/extension/state/auditState.test.ts
  test/unit/entryTypes.test.ts
Due: biome-format, eslint, typecheck
