Repository trailofbits/vscode-weaudit: changes, and which pre-commit hooks are due for each by the changed paths.
All: biome-format, eslint, typecheck

biome-format:
  name: biome format
  entry: npx biome check --formatter-enabled=true --linter-enabled=false --write
  language: system

eslint:
  name: eslint
  entry: npx eslint --ext ts -c .eslintrc.cjs
  language: system

typecheck:
  name: typecheck
  entry: npx tsc --noEmit
  language: system
  pass_filenames: false

fix: allow loading third-party .weaudit files
  README.md
  src/test/fixtures/weaudit-plugin-compat.json
  src/test/types.test.ts
  src/test/weauditFixture.test.ts
  src/types.ts
Due: biome-format, eslint, typecheck

feat(findings): refine details panel and list indicators
  README.md
  media/style.css
  src/codeMarker.ts
  src/panels/findingDetails.html
  src/panels/findingDetailsPanel.ts
  src/webview/findingDetailsMain.ts
Due: biome-format, eslint, typecheck

feat(findings): add resolution emojis, refine details panel, bump to 1.3.2
  README.md
  install.sh
  package.json
  src/panels/findingDetails.html
  src/resolvedFindings.ts
  src/test/types.test.ts
  src/types.ts
  src/webview/findingDetailsMain.ts
Due: biome-format, eslint, typecheck

fix: show locationless entries
  README.md
  src/codeMarker.ts
  src/resolvedFindings.ts
Due: biome-format, eslint, typecheck

feat: more UI tests
  TESTING.md
  package-lock.json
  package.json
  test/ui/suite/commands.ui.test.ts
  test/ui/tsconfig.json
Due: biome-format, typecheck

fix: old tests
  test/unit/validators.test.ts
Due: biome-format, typecheck

chore: remove test from coverage
  .nycrc.json
Due: biome-format

fix: move tests
  .eslintrc.cjs
  package-lock.json
  src/test/types.test.ts
  test/tsconfig.json
  test/unit/gitParsing.test.ts
  test/unit/normalizePath.test.ts
  test/unit/permalink.test.ts
  test/unit/types.test.ts
Due: biome-format, eslint, typecheck

fix: gh worklow
  .github/workflows/lint_and_format.yml
Due: none

feat: add UI tests to CI
  .github/workflows/test.yml
Due: none

fix: flaky UI in CI
  esbuild.js
  package.json
  test/ui/suite/commands.ui.test.ts
Due: biome-format, typecheck

fix: biome
  esbuild.js
Due: biome-format

chore: refactor UI tests
  biome.json
  test/ui/suite/commands.ui.test.ts
Due: biome-format, typecheck

fix: flakyness
  test/ui/suite/commands.ui.test.ts
Due: biome-format, typecheck

fix: flaky
  test/extension/suite/treeViews.test.ts
  test/ui/suite/commands.ui.test.ts
Due: biome-format, typecheck

fix: flaky ubuntu
  test/ui/suite/commands.ui.test.ts
Due: biome-format, typecheck

fix: more flakyness
  test/ui/suite/commands.ui.test.ts
Due: biome-format, typecheck

fix: flaky
  test/ui/suite/commands.ui.test.ts
Due: biome-format, typecheck

fix: flaky on ubuntu
  TESTING.md
  test/ui/suite/commands.ui.test.ts
Due: biome-format, typecheck

fix: ubuntu flaky
  .github/workflows/test.yml
Due: none

chore: remove md file
  ISSUES.md
Due: none

feat: editing region code lens
  package.json
  src/codeMarker.ts
  src/findingBoundaryCodeLens.ts
Due: biome-format, eslint, typecheck

feat: add toggle editing boundary command shortcut
  package.json
  src/findingBoundaryCodeLens.ts
Due: biome-format, eslint, typecheck

chore: add feature to readme
  README.md
  package.json
  src/findingBoundaryCodeLens.ts
Due: biome-format, eslint, typecheck

chore: refactor codelens commands
  src/findingBoundaryCodeLens.ts
Due: biome-format, eslint, typecheck

fix: code review and tests
  .vscode-test.mjs
  README.md
  TESTING.md
  src/findingBoundaryCodeLens.ts
  test/extension/suite/activation.test.ts
  test/extension/suite/boundaryEditing.test.ts
Due: biome-format, eslint, typecheck

chore: simplify code
  src/codeMarker.ts
  src/findingBoundaryCodeLens.ts
  test/extension/suite/boundaryEditing.test.ts
Due: biome-format, eslint, typecheck

chore: refactors
  src/findingBoundaryCodeLens.ts
Due: biome-format, eslint, typecheck

feat: add commit-scoped filter and mismatch warning
  README.md
  media/style.css
  package.json
  src/codeMarker.ts
  src/panels/findingDetails.html
  src/panels/findingDetailsPanel.ts
  src/webview/findingDetailsMain.ts
Due: biome-format, eslint, typecheck

feat: default commit filter on, show mismatch toast, and display campaign tag
  README.md
  src/codeMarker.ts
  src/panels/findingDetailsPanel.ts
  src/webview/findingDetailsMain.ts
Due: biome-format, eslint, typecheck

feat: apply commit filter to resolved findings panel
  README.md
  src/codeMarker.ts
Due: biome-format, eslint, typecheck

resolved findings start collapsed
  README.md
  package.json
Due: biome-format

fix bug in commit resolution
  src/codeMarker.ts
Due: biome-format, eslint, typecheck

fix bug in sync trigger
  src/webview/findingDetailsMain.ts
Due: biome-format, eslint, typecheck

feat: tint resolved icons and guard git config
  README.md
  src/codeMarker.ts
  src/resolvedFindings.ts
Due: biome-format, eslint, typecheck

feat(sync): serialize repo syncs
  README.md
  src/sync/gitAutoSync.ts
Due: biome-format, eslint, typecheck

chore(lint): use esm eslint config
  .eslintrc.mjs
  package.json
Due: biome-format

fix: nit
  README.md
Due: none

Path conditions:
  biome-format: any of: \.(js|mjs|cjs)$, \.(ts|mts|cts)$, \.json$, but not: node_modules|out
  eslint: any of: \.(ts|mts|cts)$, but not: ^test/
  typecheck: any of: \.(ts|mts|cts)$
